@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */
:root {
    --font-family: "Dosis", sans-serif;
    --font-family-body: "PT Serif", serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #046b00;
    --secondary-color: #0068c9;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #007599;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem; 
    --transition: 0.3s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
    font-size: 40px;
}

nav a {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
    font-size: 22px;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 100rem;
    margin: auto;
}

.hero-img {
    height: 35rem;
    width: 53rem;
}

.bio {
    width: 75rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio h2 {
    color: var(--primary-color);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    font-family: var(--font-family-body);
    font-size: 18px;
    font-weight: 500;
}

.hero-separator {
    padding: 2rem;
}

/* More about */
.more-about {
    padding: 0rem 12rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: var(--primary-color);
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
    font-family: var(--font-family-body);
    font-weight: 500;
}

.more-about-separator {
    padding: 2rem;
}

/* Skills */
.skills {
    margin: auto;
    text-align: center;
    color: var(--primary-color);
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.first-set {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.second-set {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.additional-skills-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.skill-list {
    font-family: var(--font-family-body);
    color: black;
}

.skill-list li:not(:first-of-type){
    padding-top: 1em;
}

.skill-list li:not(:last-of-type){
    padding-bottom: 1em;
}

.skills-separator {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

/* Projects */
.project-pic-1 {
    width: 205px;
    height: 146.25px;
}

.project-pic-2 {
    width: 250px;
    height: 146.25px;
}

.project-pic-3 {
    width: 205px;
    height: 153.75px;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
    font-family: var(--font-family-body);
}

.project-container a {
    font-family: var(--font-family-body);
}

.project-title {
    margin-bottom: var(--bottom-margin);
    color: var(--primary-color);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.projects-separator {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

/* Coursework */ 
.coursework-title {
    text-align: center;
    color: var(--primary-color);
}

.third-year {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.second-year {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.first-year {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.semester-title {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    color: var(--primary-color);
}

.coursework ul {
    width: 40rem;
    height: 10rem;
    font-family: var(--font-family-body);
}

.coursework ul li:not(:first-of-type){
    padding-top: 0.3rem;
}

.coursework ul li:not(:last-of-type){
    padding-bottom: 0.3rem;
}

.semester {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 30px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 30px;
}

.coursework-separator {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* Contact */
.contact h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--primary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: #999999;
    font-family: var(--font-family-body);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff;
    cursor: pointer;
}